{
  "polymarket": {
    "gamma_api_url": "https://gamma-api.polymarket.com",
    "clob_api_url": "https://clob.polymarket.com",
    "api_key": null,
    "api_secret": null,
    "api_passphrase": null,
    "private_key": "",
    "proxy_wallet_address": "",
    "signature_type": 2
  },
  "trading": {
    "check_interval_ms": 1000,
    "enable_eth_trading": false,
    "enable_solana_trading": false,
    "enable_xrp_trading": false,
    "dual_limit_price": 0.45,
    "dual_limit_shares": 6,
    "dual_limit_SL_sell_trigger_bid": 0.2,
    "dual_limit_SL_sell_at_price": 0.15,
    "dual_limit_SL_enabled": true
  }
}